
<div class="col-mid-12">
    <h1>{{modulo.tipo}} Produto : {{p.nome_produto | limitTo : 50}} </h1>
</div>
    <div class="panel panel-default">
        <div class='panel-heading'>
            Cadastre novo Produto
        </div>
        <div class="panel-body">
                <div class="row">
                    <div class="col-md-8">
                        <span>Nome do Produto : </span><input ng-model="p.nome_produto" type="text" class="form-control" value="{{p.nome_produto}}" size="50">
                    </div>
                    <div class="col-sm-4">
                        <span>Código Original : </span><input ng-model="p.codigo_original" type="text" class="form-control" value="{{p.codigo_original}}">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-4">
                        <span>Código de Fabricante : </span><input ng-model="p.codigo_fabricante" type="text" class="form-control" value="{{p.codigo_fabricante}}">
                    </div>
                    <div class="col-sm-4">
                        <span>Localização : </span><input ng-model="p.localizacao" type="text" class="form-control" data-mask="**/**/**" value="{{p.localizacao}}">
                    </div>
                    <div class="col-sm-4">
                        <span>Unidade</span>
                                <select name="unidade" ng-model="p.unidade" aria-controls="dataTables-example" class="form-control input-sm">
                                    <option value="1">Unidade</option>
                                    <option value="25">Kit</option>
                                    <option value="50">Par</option>
                                </select> 
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-md-3">
                        <span>Custo : </span><input ng-model="p.custo" type="text" class="form-control" value="{{p.custo | number}}">
                    </div>
                    <div class="col-sm-3">
                        <span>Margem : </span><input ng-model="p.margem" type="text" class="form-control" value="{{p.margem | number}}">
                    </div>
                    <div class="col-sm-6">
                        <span>Preço Final : </span><input ng-focus="calculaPrecoFinal()" ng-model="p.preco_final" id="preco_final" type="text" class="form-control preco_final" value="{{p.preco_final}}">
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-12">
                        <button ng-click="fncInsere($event)" class="btn btn-success">Salvar</button>
                    </div>
                </div>
        </div>
    </div>
