<div class="col-lg-12" ng-init="init()">
    <h1> Tabela de Produtos </h1>
</div>
<div class="col-lg-12" >
    <div ng-include="template">
        
    </div>
</div>
    <div class="panel panel-default">
        <div class='panel-heading'>
            Pesquisar Produtos
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-8">
                        <span>Pesquise : </span><input ng-model="pesquisaIngrediente" type="text" class="form-control">
                    </div>
                    <div class="col-sm-4">
                        <div class="dataTables_length" id="dataTables-example_length">
                            <span>Mostrar por página</span>
                                <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select> 
                        </div>
                    </div>
                </div>
                <table class="table table-responsive table-striped">
                    <thead>
                    <th><a href="" ng-click="fncOrder('ingrediente_id')">Ingrediente id</a></th>
                    <th><a href="" ng-click="fncOrder('nome')">Nome</a></th>
                    <th><a href="" ng-click="fncOrder('categoria')">Categoria id</a></th>
                    <th><a href="" ng-click="fncOrder('caloria_unit')">Caloria Unitária</a></th>
                    <th>#</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ingrediente in ingredientes | filter:pesquisaIngrediente | orderBy:regra_ordem" >
                            <td>{{ingrediente.ingrediente_id}}</td>
                            <td>{{ingrediente.nome}}</td>
                            <td>{{ingrediente.categoria}}</td>
                            <td>{{ingrediente.caloria_unit}}</td>
                            <td><button ng-if="containsObject(ingrediente)" class="btn btn-success btn-sm" ng-click="fncGetObjetoDOM($event)" data-objeto='{{ingrediente}}'><span class="glyphicon glyphicon-plus"></span> ADICIONAR</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>